$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #333; //hex color gray
$font-color: #eee; //hex color off-white
$light-blue: #bff3fc;

body {
  background-color: $background-color;
  color: $font-color;
}

h2 {
  text-align: center; //not working right now, figure it out later
}

.box {
  border: 3px solid $light-blue;
  float: left;
  height: 150px;
  width: 150px;

}

.boxX {
  color: #00f;
  content: 'X';
  font-size: 115px;
  text-align: center;
}

.boxO {
  color: #4286f4;
  content: 'O';
  font-size: 115px;
  text-align: center;
}

#grid-container { //everything works fine not sure why linter is picky.
  height: 75px;
  width: 500px;

}
